@media (max-width: 768px){
    .container {
        width: 70rem;
    }
    .heading-primary {
        font-size: 20px;
    }
    .header-address{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 10px;
        line-height: 1.3;
    }
    .customs-wrap {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        row-gap: 40px;
    }
    .customs-item h4 {
        height: 42px;
        margin-bottom: 16px;
    }
}


@media (max-width: 426px) {
    .container {
        width: 380px;
    }
    .main-header {
        display: flex;
        flex-direction: column;
    }
    .header-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .header-address{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
    }
    .source{
        width: 100%;
        display: flex;
        justify-content: space-around;

        margin-bottom: 20px;
    }
    nav ul {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .map-wrap {
        max-width: 40rem;
        display: grid;
        grid-template-columns: 1fr;
        line-height: 1.5;
    }
    .customs-wrap{
        grid-template-columns: 1fr;
    }
    .new-wrap{
        display: grid;
        grid-template-columns: 1fr;
    }
    .ad-wrap {
        flex-direction: column;
    }
    .statistics-wrap{
        flex-direction: column;
        gap: 40px;
    }
    .statistics-new{
        max-width: 100%;
    }
    .region-info{
        width: 16.2rem;
        font-size: 10px;
        right: -20px;
        bottom: -55px;
    }
    .info-title{
        margin-bottom: 1rem;
    }
    .info-text{
        margin-bottom: 4px;
    }
    .country-wrap{
        flex-wrap: wrap;
        gap: 20px;
    }
    .country-item{
        width: 10rem;
    }
    .footer{
        padding-bottom: 50px;
    }
    .footer-h4{
        font-size: 18px;
    }
    .footer-item p {
        font-size: 12px;
    }
    .footer-icons{
        gap: 10px;
        margin-top: 20px;
    }
    .footer-icons a img{
        width: 14px;
        height:14px;
    }
}